<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.jolph.soundapp">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoTitleBar">

        <service
            android:name=".IncomingRequestWearService"
            android:enabled="true"
            android:exported="true"></service>

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".WearMainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExplainWatchSettingActivity" android:label="Explain"></activity>
        <activity android:name=".MobileAppCheckActivity" android:label="MobileAppCheck"></activity>
        <activity android:name=".SoundAuthorityActivity" android:label="SoundAuthority"></activity>
        <activity android:name=".RequestPermissionOnPhoneActivity" android:label="RequestPermissionOnPhoneActivity"></activity>

    </application>

</manifest>