<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.co.jolph.soundapp">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoundApp"
        android:usesCleartextTraffic="true">
        <activity android:name=".FIrebasestoragetest"></activity>
        <activity android:name=".Setsooundactivitynew2" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".Getresultfromserver" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Setsooundactivitynew" />
        <activity android:name=".PhonePermissionRequestActivity" />

        <service
            android:name=".IncomingRequestPhoneService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".MainActivity" />
    </application>

</manifest>